@model IEnumerable<BasketVM>
<div class="sub-content">
    <h5>SubTotal</h5>
    <span class="subtotal">$@Model.Sum(b => b.DiscountedPrice > 0 ? (b.Count * b.DiscountedPrice) : (b.Count * b.Price))</span>
</div>
<hr>
<div class="total-content">
    <h4>Total</h4>
    <span class="subtotal">$@(@Model.Sum(b => b.DiscountedPrice > 0 ? (b.Count * b.DiscountedPrice) : (b.Count * b.Price)))</span>
</div>