    <!-- Contact Us Page Heading -->
<section id="Heading">
    <div class="container">
        <div class="heading-content">
            <div class="section-container">
                <h1>Contact Us</h1>
                <p>Well designed lights for your home & office environments.  <br> Our high quality lights will make your place modern. </p>
            </div>

        </div>
    </div>
</section>
<!-- Contact Us Page Heading -->
<!-- Contact Info -->
<section style="margin: 40px 0;">
    <div class="container">
        <div class="section-container">
            <div class="contact-us-content">
                <div>
                    <h4>Address</h4>
                    <p>
                        312, Awesome Street, <br>
                        Chennai, Tamilnadu,<br>
                        India – 600001
                    </p>
                </div>
                <div>
                    <h4>Store Hours</h4>
                    <p>
                        9:00AM – 6:00PM on all days. <br>
                        9:00AM – 12:00AM on Sunday.
                    </p>
                </div>
                <div>
                    <h4>Chat</h4>
                    <p>yourmail@mail.com</p>
                    <p>+01 234 5678.</p>
                </div>
                <div>
                    <h4>See Our Location</h4>
                    <a class="learn-more explore" href="">Go To Maps</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Info -->
<!-- Banner Section -->
<section class="Banner">
    <div class="container">
        <div class="big-banner banner-content contact-banner ">
            <div class="banner-titles">
                <h1>Finest collection of lightings to enhance your home.</h1>
                <p>Unique collections of premium products <br> starting from affordable price.</p>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section -->