<!-- About-Slide -->
<section id="CollectionSlide" class="about-slide">
    <div class="container">
        <div class="section-container">
            <div class="titles">
                <h1>About Us</h1>
                <p>Well designed lights for your home & office environments.  <br>Our high quality lights will make your place modern. </p>
            </div>
        </div>
    </div>
</section>
<!-- About-Slide -->
<!-- Banner Section -->
<section class="collection-banner">
    <div class="container" style="background-color: #F6F5F2">
        <div class="section-container">
            <div class="banner-content banner-about">
                <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/about-intro-1.png" alt="">
                <div class="texts">
                    <h2>High quality craftmanship on every aspect, brings best of its kind. Pellentesque id lorem sed ipsum lobortis suscipit sit amet vitae urna. Duis pretium est.</h2>
                    <p>Cras in erat et elit molestie dictum. Praesent facilisis vitae ligula vel porttitor. Nam consectetur vel ipsum sit amet gravida.</p>
                    <a class="learn-more" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section -->
<!-- Designer Info Section -->
<section id="DesignerInfo">
    <div class="container">
        <div class="section-container">
            <div class="info-heading">
                <p>CRAS IN ERAT ET ELIT MOLESTIE</p>
                <h1>Cras vitae augue libero fermentum venenatis. Aenean laciniae, nulla vitae iaculis pulvinar, lorem facilisis mi egestas lectus.</h1>
                <hr>
            </div>
            <div class="info-cards">
                <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/about-intro-2.png" alt="">
                <div class="designer-card">
                    <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/about-intro-3.png" alt="">
                    <h4>Every designer wants to make their lights stand out from others.</h4>
                    <p>Pellentesque id lorem sed ipsum lobortis suscipit sit amet vitae urna et porta mauris lobortis.</p>
                    <p class="shopLinks">
                        <a href="">Explore Designer </a>
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Designer Info Section -->
<!-- Banner Section -->
<section class="Banner">
    <div class="container">
        <div class="banner-boxes">
            <div class="banner-content about-banner-box">
                <div class="banner-titles">
                    <h1>Every home deserves better lighting</h1>
                    <p>Unique collections of premium products <br> starting from affordable price.</p>
                    <a class="white_btn wpo" href="">See Indoor lightings</a>
                </div>

            </div>
            <div class="banner-content about-banner-column ">
                <div class="about-banner-column-1">
                    <h2>“Duis pretium est vel dapibus bibendum. In rhoncus pulvinar justo. Donec sit amet risus pretium, auctor in, blandit ex. Cras egestas tortor ut metus.”</h2>
                    <a class="learn-more" href="">Learn More</a>
                </div>

                <div class="about-banner-column-2">
                    <img src="	https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/about-intro-4.png" alt="">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Banner Section -->
<!-- Testimonials Section -->
<section id="Testimonials">
    <div class="container">
        <div class="section-container">
            <div class="testimonial-heading">
                <h2>Our Founders</h2>
            </div>
            <div class="all-testimonials">
                <div class="testimonial-card">
                    <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/about-person-1.png" alt="">
                    <h4>John Doe</h4>
                    <p>Pellentesque id lorem sed ipsum lobortis suscipit sit amet vitae urna et porta mauris lobortis.</p>
                </div>
                <div class="testimonial-card">
                    <img src="	https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/about-person-2.png" alt="">
                    <h4>John Doe</h4>
                    <p>Pellentesque id lorem sed ipsum lobortis suscipit sit amet vitae urna et porta mauris lobortis.</p>
                </div>
                <div class="testimonial-card">
                    <img src="	https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/about-person-3.png" alt="">
                    <h4>John Doe</h4>
                    <p>Pellentesque id lorem sed ipsum lobortis suscipit sit amet vitae urna et porta mauris lobortis.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Testimonials Section -->