﻿
@model UpdateContactVM
@{
    ViewData["Title"] = "Update";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Blog Form</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputUsername1">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="TitleName">
                    <span class="text-danger" asp-validation-for="Name"> </span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Profession</label>
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <span class="text-danger" asp-validation-for="Email"> </span>
                </div>

                <div class="form-group">
                    <label for="exampleInputUsername1">Photo</label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="PhoneNumber"> </span>
                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-controller="contact" asp-action="index" class="btn btn-light">Go Back</button>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <partial name="_ValidationPartial" />
}