  <!-- Blogs -->
<section id="Blogs">
    <div class="container">
        <hr>
        <div class="section-container">
            <h1>Blog</h1>
            <hr>
            <div class="blog-content-all">
                <div class="blog-content">
                    <div class="blog-content-img">
                        <a href="">
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/07/post-thumbnail-12.png" alt="">
                        </a>
                    </div>
                    <h4>
                        <a href="">Special collections of Indoor lighting for any home</a>
                    </h4>
                    <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. </p>
                    <p class="shopLinks continue">
                        <a href="">Continue reading </a>
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                    </p>
                </div>
                <div class="blog-content">
                    <div class="blog-content-img">
                        <a href="">
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/07/post-thumbnail-11.png" alt="">
                        </a>
                    </div>
                    <h4>
                        <a href="">Special collections of Indoor lighting for any home</a>
                    </h4>
                    <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. </p>
                    <p class="shopLinks continue">
                        <a href="">Continue reading </a>
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                    </p>
                </div>
                <div class="blog-content">
                    <div class="blog-content-img">
                        <a href="">
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/07/post-thumbnail-10.png" alt="">
                        </a>
                    </div>
                    <h4>
                        <a href="">Special collections of Indoor lighting for any home</a>
                    </h4>
                    <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. </p>
                    <p class="shopLinks continue">
                        <a href="">Continue reading </a>
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                    </p>
                </div>
                <div class="blog-content">
                    <div class="blog-content-img">
                        <a href="">
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/07/post-thumbnail-9.png" alt="">
                        </a>
                    </div>
                    <h4>
                        <a href="">Special collections of Indoor lighting for any home</a>
                    </h4>
                    <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. </p>
                    <p class="shopLinks continue">
                        <a href="">Continue reading </a>
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                    </p>
                </div>
                <div class="blog-content">
                    <div class="blog-content-img">
                        <a href="">
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/07/post-thumbnail-12.png" alt="">
                        </a>
                    </div>
                    <h4>
                        <a href="">Special collections of Indoor lighting for any home</a>
                    </h4>
                    <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. </p>
                    <p class="shopLinks continue">
                        <a href="">Continue reading </a>
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                    </p>
                </div>
                <div class="blog-content">
                    <div class="blog-content-img">
                        <a href="">
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/07/post-thumbnail-11.png" alt="">
                        </a>
                    </div>
                    <h4>
                        <a href="">Special collections of Indoor lighting for any home</a>
                    </h4>
                    <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. </p>
                    <p class="shopLinks continue">
                        <a href="">Continue reading </a>
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                    </p>
                </div>
                <div class="blog-content">
                    <div class="blog-content-img">
                        <a href="">
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/07/post-thumbnail-10.png" alt="">
                        </a>
                    </div>
                    <h4>
                        <a href="">Special collections of Indoor lighting for any home</a>
                    </h4>
                    <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. </p>
                    <p class="shopLinks continue">
                        <a href="">Continue reading </a>
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                    </p>
                </div>
                <div class="blog-content">
                    <div class="blog-content-img">
                        <a href="">
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/07/post-thumbnail-9.png" alt="">
                        </a>
                    </div>
                    <h4>
                        <a href="">Special collections of Indoor lighting for any home</a>
                    </h4>
                    <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. </p>
                    <p class="shopLinks continue">
                        <a href="">Continue reading </a>
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                    </p>
                </div>
            </div>
            <div class="pagination">
                <ul class="pagination-box">
                    <!-- <li><a class="previous" href=""><i class='bx bx-left-arrow-alt'></i></a></li> -->
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a class="next" href=""><i class='bx bx-right-arrow-alt'></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Blogs -->