<!-- CollectionSlide -->
<section id="CollectionSlide">
    <div class="container">
        <div class="section-container">
            <div class="titles">
                <h1>Collections</h1>
                <p>Well designed lights for your home & office environments.  <br>Our high quality lights will make your place modern. </p>
            </div>
        </div>

    </div>
</section>
<!-- CollectionSlide -->
<!-- Banner Section -->
<section class="collection-banner">
    <div class="container">
        <div class="section-container">
            <div class="banner-content">
                <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/collections-imge-1.png" alt="">
                <div class="texts">
                    <h2>Pellentesque id lorem sit amet vitae urna.</h2>
                    <p>Cras in erat et elit molestie dictum. Praesent facilisis vitae ligula.</p>
                    <a class="learn-more explore" href="">Explore our collections</a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="separator">
<section class="collection-banner">
    <div class="container">
        <div class="section-container">
            <div class="banner-content">
                <div class="texts">
                    <h2>Pellentesque id lorem sit amet vitae urna.</h2>
                    <p>Cras in erat et elit molestie dictum. Praesent facilisis vitae ligula.</p>
                    <a class="learn-more explore" href="">Explore our collections</a>
                </div>
                <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/collections-imge-3.png" alt="">

            </div>
        </div>
    </div>
</section>
<!-- Banner Section -->
<!-- Collections Section -->
<section id="Collections">
    <div class="container" style="background-color: #F6F5F2">
        <div class="section-container">
            <div class="py-5">
                <div class="collections-box">
                    <div class="collection text-center " style="width: 49%;">
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/collections-imge-4.png" alt="">
                        <h5>Wall Lighting</h5>
                        <p class="shopLinks">
                            <a href="">Explore this collection </a>
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                        </p>
                    </div>
                    <div class="collection text-center" style="width: 49%;">
                        <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/collections-imge-5.png" alt="">
                        <h5>Living & Bedroom Lighting</h5>
                        <p class="shopLinks">
                            <a href="">Explore this collection </a>
                            <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/arrow-new-tab.png" alt="">
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Collections Section -->
<!-- Banner section -->
<section class="collection-banner">
    <div class="container">
        <div class="section-container">
            <div class="banner-content">
                <img src="https://demo.agnidesigns.com/luminate/wp-content/uploads/2022/06/collections-imge-2.png" alt="">
                <div class="texts">
                    <h2>Pellentesque id lorem sit amet vitae urna.</h2>
                    <p>Cras in erat et elit molestie dictum. Praesent facilisis vitae ligula.</p>
                    <a class="learn-more explore" href="">Explore our collections</a>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="Banner">
    <div class="container">
        <div class="big-banner banner-content removebg">
            <div class="banner-titles">
                <h1>The best collections of premium lightings for all home indoors & outdoors</h1>
                <p>Unique collections of premium products <br> starting from affordable price.</p>
                <a class="white_btn wpo" href="">See outdoor lightings</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner section -->